.history_section 
    h2.history_section__title Истории успеха
    .swiper.history_slider.js-history_slider 
        .swiper-wrapper 
            .swiper-slide.history_slider__item
                .history_slider__text 
                    h3.history_slider__name Татьяна Демьянова
                    span.history_slider__about Специалист, отдел МСФО, 32 года
                    p.history_slider__description «Компания сегодня — это одна из немногих компаний, где действительно делают крутые вещи. »
                    a.history_slider__link(href='javascript:void(0)') Читать историю
                .history_slider__photo 
                    img(src='./images/hostory_photo.jpg' alt="")
            .swiper-slide.history_slider__item
                .history_slider__text 
                    h3.history_slider__name Татьяна Демьянова
                    span.history_slider__about Специалист, отдел МСФО, 32 года
                    p.history_slider__description «Компания сегодня — это одна из немногих компаний, где действительно делают крутые вещи. »
                    a.history_slider__link(href='javascript:void(0)') Читать историю
                .history_slider__photo 
                    img(src='./images/hostory_photo.jpg' alt="")
            .swiper-slide.history_slider__item
                .history_slider__text 
                    h3.history_slider__name Татьяна Демьянова
                    span.history_slider__about Специалист, отдел МСФО, 32 года
                    p.history_slider__description «Компания сегодня — это одна из немногих компаний, где действительно делают крутые вещи. »
                    a.history_slider__link(href='javascript:void(0)') Читать историю
                .history_slider__photo 
                    img(src='./images/hostory_photo.jpg' alt="")
            .swiper-slide.history_slider__item
                .history_slider__text 
                    h3.history_slider__name Татьяна Демьянова
                    span.history_slider__about Специалист, отдел МСФО, 32 года
                    p.history_slider__description «Компания сегодня — это одна из немногих компаний, где действительно делают крутые вещи. »
                    a.history_slider__link(href='javascript:void(0)') Читать историю
                .history_slider__photo 
                    img(src='./images/hostory_photo.jpg' alt="")
        .history_slider__buttons.slider_buttons.js-history_buttons
            .swiper-button.swiper-button-prev
                svg 
                    use(xlink:href="images/sprite_build.svg#swiper_arrow")
            .swiper-button.swiper-button-next
                svg 
                    use(xlink:href="images/sprite_build.svg#swiper_arrow")
        .history_slider__pagination.swiper-pagination.js-history_pagination.
    .history_section__stage
