
.options.options_grid
    .options__item
        svg.options__icon 
            use(xlink:href="images/sprite_build.svg#option1")
        span.options__title Развитие
        span.options__description Общего центра обслуживания. Современные технологии, проекты, рабочие группы
    .options__item
        svg.options__icon 
            use(xlink:href="images/sprite_build.svg#option2")
        span.options__title Обучение
        span.options__description Общего центра обслуживания. Современные технологии, проекты, рабочие группы
    .options__item
        svg.options__icon 
            use(xlink:href="images/sprite_build.svg#option3")
        span.options__title Ответственность
        span.options__description Общего центра обслуживания. Современные технологии, проекты, рабочие группы
    .options__item
        svg.options__icon 
            use(xlink:href="images/sprite_build.svg#option4")
        span.options__title Динамика
        span.options__description Общего центра обслуживания. Современные технологии, проекты, рабочие группы
    .options__item
        svg.options__icon 
            use(xlink:href="images/sprite_build.svg#option5")
        span.options__title Комфорт
        span.options__description Общего центра обслуживания. Современные технологии, проекты, рабочие группы
    .options__item
        svg.options__icon 
            use(xlink:href="images/sprite_build.svg#option6")
        span.options__title Надежность
        span.options__description Общего центра обслуживания. Современные технологии, проекты, рабочие группы

.swiper.js-option_swiper.option_swiper
    .options.swiper-wrapper
        .options__item.swiper-slide 
            svg.options__icon 
                use(xlink:href="images/sprite_build.svg#option1")
            span.options__title Развитие
            span.options__description Общего центра обслуживания. Современные технологии, проекты, рабочие группы
        .options__item.swiper-slide 
            svg.options__icon 
                use(xlink:href="images/sprite_build.svg#option2")
            span.options__title Обучение
            span.options__description Общего центра обслуживания. Современные технологии, проекты, рабочие группы
        .options__item.swiper-slide  
            svg.options__icon 
                use(xlink:href="images/sprite_build.svg#option3")
            span.options__title Ответственность
            span.options__description Общего центра обслуживания. Современные технологии, проекты, рабочие группы
        .options__item.swiper-slide  
            svg.options__icon 
                use(xlink:href="images/sprite_build.svg#option4")
            span.options__title Динамика
            span.options__description Общего центра обслуживания. Современные технологии, проекты, рабочие группы
        .options__item.swiper-slide  
            svg.options__icon 
                use(xlink:href="images/sprite_build.svg#option5")
            span.options__title Комфорт
            span.options__description Общего центра обслуживания. Современные технологии, проекты, рабочие группы
        .options__item.swiper-slide  
            svg.options__icon 
                use(xlink:href="images/sprite_build.svg#option6")
            span.options__title Надежность
            span.options__description Общего центра обслуживания. Современные технологии, проекты, рабочие группы
    .swiper-pagination.options_pagination.js-option_pagination 
