.personal_layout
    .personal_slider.swiper.js-personal_swiper
        .personal_slider__items.swiper-wrapper
            .personal_slider__item.swiper-slide
                .personal_slider__info
                    h2.personal_slider__name Евдокимова Майя
                    span.personal_slider__post Генеральный директор
                    p.personal_slider__description Цель нашей работы обеспечить высочайший сервис нашим клиентам.
                        | Дать возможность бизнесу сосредоточиться на своих ключевых задачах, передав функции управления персоналом,
                        | казначейства, финансового учёта и отчётности нам.
                .personal_slider__photo 
                    img.personal_slider__img(src="./images/personal_photo.png" alt="")
            .personal_slider__item.swiper-slide
                .personal_slider__info
                    h2.personal_slider__name Евдокимова Майя
                    span.personal_slider__post Генеральный директор
                    p.personal_slider__description Цель нашей работы обеспечить высочайший сервис нашим клиентам.
                        | Дать возможность бизнесу сосредоточиться на своих ключевых задачах, передав функции управления персоналом,
                        | казначейства, финансового учёта и отчётности нам.
                .personal_slider__photo 
                    img.personal_slider__img(src="./images/personal_photo.png" alt="")
            .personal_slider__item.swiper-slide
                .personal_slider__info
                    h2.personal_slider__name Евдокимова Майя
                    span.personal_slider__post Генеральный директор
                    p.personal_slider__description Цель нашей работы обеспечить высочайший сервис нашим клиентам.
                        | Дать возможность бизнесу сосредоточиться на своих ключевых задачах, передав функции управления персоналом,
                        | казначейства, финансового учёта и отчётности нам.
                .personal_slider__photo 
                    img.personal_slider__img(src="./images/personal_photo.png" alt="")
        .swiper-pagination.person_pagination.js-person_pagination
    
    .slider_buttons.js-personal_buttons
        .swiper-button.swiper-button-prev
            svg 
                use(xlink:href="images/sprite_build.svg#swiper_arrow")
        .swiper-button.swiper-button-next
            svg 
                use(xlink:href="images/sprite_build.svg#swiper_arrow")
        

        