.professopn_section 
    .profession_content
        .profession_content__titleBlock
            h2.profession_content__title Студентам и молодым специалистам
            span.profession_content__subtitle Учишься или недавно закончил направления
        .profession_items
            .profession_items__item
                .profession_items__icon 
                    svg 
                        use(xlink:href="images/sprite_build.svg#humans_icon")
                span.profession_items__title Управление персоналом
            .profession_items__item
                .profession_items__icon 
                    svg 
                        use(xlink:href="images/sprite_build.svg#calc_icon")
                span.profession_items__title Бухгалтерский учёт 
            .profession_items__item
                .profession_items__icon 
                    svg 
                        use(xlink:href="images/sprite_build.svg#coins_icon")
                span.profession_items__title Финансовый менеджмент
            .profession_items__item
                .profession_items__icon 
                    svg 
                        use(xlink:href="images/sprite_build.svg#brain_icon")
                span.profession_items__title Социальная психология
        .profession_content__link 
            a(href='javascript:void(0)') Заполни анкету &nbsp;
            | и отправь нам!

