.services_section
    h3.services_title Общий центр обслуживания в г. Иваново оказывает услуги энергетическому
        | холдингу Группе компаний в области:

    .services_cards 
        .services_cards__item 
            .services_cards__icon 
                svg 
                    use(xlink:href="images/sprite_build.svg#services_icon3")
            span.services_cards__title Учета и отчетности
            .services_cards__more
                a.services_cards__link(href="javascript:void(0)")
                    | Подробнее
                    svg 
                        use(xlink:href="images/sprite_build.svg#swiper_arrow")
        .services_cards__item 
            .services_cards__icon 
                svg 
                    use(xlink:href="images/sprite_build.svg#services_icon")
            span.services_cards__title Управления персоналом
            .services_cards__more
                a.services_cards__link(href="javascript:void(0)")
                    | Подробнее
                    svg 
                        use(xlink:href="images/sprite_build.svg#swiper_arrow")
        .services_cards__item 
            .services_cards__icon 
                svg 
                    use(xlink:href="images/sprite_build.svg#services_icon2")
            span.services_cards__title Казначейства
            .services_cards__more
                a.services_cards__link(href="javascript:void(0)")
                    | Подробнее
                    svg 
                        use(xlink:href="images/sprite_build.svg#swiper_arrow")
