.top_section.js-swiper 
    .top_section__background 
        img.top_section__figure(src="./images/top_figure.png", alt="")
        img.top_section__image(src="./images/top_background.jpg" alt="")
    .container
        .title_section 
            .title_section__content 
                h1 Энергия твоего роста! – заряжаем твою карьеру
                a.button.js-modal_open(href="javascript:void(0)" data-content="form") Cтать частью команды

            .title_section__imageContainer
                img.title_section__img(src="./images/top_photo.png" alt="")


