.vacansion_section 
    h3.vacansion_section__title Вакансии

    .vacansion_selector
        span.vacansion_selector__option.vacansion_selector__option--current Общий центр обслуживания (Иваново)
        .box
            input#box.checkbox(type='checkbox')
            label(for='box')
        span.vacansion_selector__option Все вакансии
    .vacansion_selector__wrapper
        select.js-select
            option(value="Общий центр обслуживания (Иваново)") Общий центр обслуживания (Иваново)
            option(value="Все вакансии") Все вакансии

    .vacansion_cards.vacansion_cards--hidden.js-vacansion_card
        .vacansion_cards__item
            .vacansion_cards__content
                h4.vacansion_cards__title Бухгалтер по расчету 
                    | заработной платы
                .vacansion_cards__icon
                    svg 
                        use(xlink:href="images/sprite_build.svg#vacansion_icon")

                span.vacansion_cards__cellary 68.000 — 180.000 руб.
            .vacansion_cards__link-box
                a.vacansion_cards__link.js-modal_open(href="javascript:void(0)" data-content="vacansion")
                        | Подробнее
                        svg 
                            use(xlink:href="images/sprite_build.svg#swiper_arrow")

        .vacansion_cards__item
            .vacansion_cards__content
                h4.vacansion_cards__title Бухгалтер по расчету 
                    | заработной платы
                .vacansion_cards__icon
                    svg 
                        use(xlink:href="images/sprite_build.svg#vacansion_icon2")

                span.vacansion_cards__cellary.vacansion_cards__cellary--empty ЗП по результатам собеседоваия
            .vacansion_cards__link-box
                a.vacansion_cards__link.js-modal_open(href="javascript:void(0)" data-content="vacansion")
                        | Подробнее
                        svg 
                            use(xlink:href="images/sprite_build.svg#swiper_arrow")

        .vacansion_cards__item
            .vacansion_cards__content
                h4.vacansion_cards__title Бухгалтер по расчету 
                    | заработной платы
                .vacansion_cards__icon
                    svg 
                        use(xlink:href="images/sprite_build.svg#vacansion_icon3")

                span.vacansion_cards__cellary 68.000 — 80.000 руб.
            .vacansion_cards__link-box
                a.vacansion_cards__link.js-modal_open(href="javascript:void(0)" data-content="vacansion")
                        | Подробнее
                        svg 
                            use(xlink:href="images/sprite_build.svg#swiper_arrow")

        .vacansion_cards__item
            .vacansion_cards__content
                h4.vacansion_cards__title Бухгалтер по расчету 
                    | заработной платы
                .vacansion_cards__icon
                    svg 
                        use(xlink:href="images/sprite_build.svg#vacansion_icon")

                span.vacansion_cards__cellary 68.000 — 180.000 руб.
            .vacansion_cards__link-box
                a.vacansion_cards__link.js-modal_open(href="javascript:void(0)" data-content="vacansion")
                        | Подробнее
                        svg 
                            use(xlink:href="images/sprite_build.svg#swiper_arrow")

        .vacansion_cards__item
            .vacansion_cards__content
                h4.vacansion_cards__title Бухгалтер по расчету 
                    | заработной платы
                .vacansion_cards__icon
                    svg 
                        use(xlink:href="images/sprite_build.svg#vacansion_icon")

                span.vacansion_cards__cellary 68.000 — 180.000 руб.
            .vacansion_cards__link-box
                a.vacansion_cards__link.js-modal_open(href="javascript:void(0)" data-content="vacansion")
                        | Подробнее
                        svg 
                            use(xlink:href="images/sprite_build.svg#swiper_arrow")

        .vacansion_cards__item
            .vacansion_cards__content
                h4.vacansion_cards__title Бухгалтер по расчету 
                    | заработной платы
                .vacansion_cards__icon
                    svg 
                        use(xlink:href="images/sprite_build.svg#vacansion_icon")

                span.vacansion_cards__cellary 68.000 — 180.000 руб.
            .vacansion_cards__link-box
                a.vacansion_cards__link.js-modal_open(href="javascript:void(0)" data-content="vacansion")
                        | Подробнее
                        svg 
                            use(xlink:href="images/sprite_build.svg#swiper_arrow")

        .vacansion_cards__item
            .vacansion_cards__content
                h4.vacansion_cards__title Бухгалтер по расчету 
                    | заработной платы
                .vacansion_cards__icon
                    svg 
                        use(xlink:href="images/sprite_build.svg#vacansion_icon")

                span.vacansion_cards__cellary 68.000 — 180.000 руб.
            .vacansion_cards__link-box
                a.vacansion_cards__link.js-modal_open(href="javascript:void(0)" data-content="vacansion")
                        | Подробнее
                        svg 
                            use(xlink:href="images/sprite_build.svg#swiper_arrow")
    .vacansion_cards__more
        a.button.js-vacansion_more(href="javascript:void(0)") Больше вакансий
