.value_section
    h3.value_title Наши ценности
    .value_layout.swiper.js-values_slider
        .value_cards.swiper-wrapper
            .value_cards__item.swiper-slide
                h4.value_cards__title Человеческий капитал
                p.value_cards__description Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.  
            .value_cards__item.swiper-slide
                h4.value_cards__title Предоставление услуг высочайшего качества
                p.value_cards__description Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
            .value_cards__item.swiper-slide
                h4.value_cards__title Стремление к совершенству
                p.value_cards__description Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия. 
        .swiper-pagination.value_pagination.js-value_pagination
