.video_section.js-video_player
    video.video_section__video.js-video(src="./images/example.mp4" poster="")
    .video_section__controls.js-video_controls
        .video_section__icon.js-video_icon.video_section__icon--play

      
