@font-face {
    font-family: 'HeliosC';
    src: url('HeliosC.eot');
    src: local('HeliosC'),
        url('./fonts/HeliosC.eot?#iefix') format('embedded-opentype'),
        url('./fonts/HeliosC.woff2') format('woff2'),
        url('./fonts/HeliosC.woff') format('woff'),
        url('./fonts/HeliosC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}