@font-face {
    font-family: 'Helios', sans-serif;
    src: url('../assets/fonts/HeliosC.woff');
}

@font-face {
    font-family: 'Gilroy', sans-serif;
    src: url('../assets/fonts/Gilroy-Medium.woff');
}