footer.footer
	.footer_top
		.footer_top__content
			.footer_top__logo
				img.footer_top__logoimg(src="./images/footer_top_icon.png" alt="")
			span.footer_top__subtitle Отдел подбора персонала: 
			a.footer_top__telephone(href='tel:88007008000') 8 800 700 8000
			a.footer_top__email(href="mailto:oco_rabota@mail.ru")  oco_rabota@mail.ru
			a.button.js-modal_open(href="javascript:void(0)" data-content="form") Cтать частью команды
			.footer_top__social
				ul.footer_top__soc-list
					li.footer_top__soc-li 
						a.footer_top__soc-link.footer_top__soc-vk(href="javascript:void(0)")
							svg 
								use(xlink:href="images/sprite_build.svg#soc-vk")
					li.footer_top__soc-li 
						a.footer_top__soc-link.footer_top__soc-ok(href="javascript:void(0)")
							svg 
								use(xlink:href="images/sprite_build.svg#soc-ok")
					li.footer_top__soc-li 
						a.footer_top__soc-link.footer_top__soc-facebook(href="javascript:void(0)")
							svg 
								use(xlink:href="images/sprite_build.svg#soc-facebook")
					li.footer_top__soc-li 
						a.footer_top__soc-link.footer_top__soc-instagramm(href="javascript:void(0)")
							svg 
								use(xlink:href="images/sprite_build.svg#soc-instagram3")
	.footer_bottom
		span.footer_bottom__license © 1998–2019,«Компания», 53002, Иваново, Лежневская 34 корпус 1
		a(href="javascropt:void(0)") Политика обработки персональных данных
		img.footer_bottom__logo(src="./images/footer_logo.svg" alt="")


	a.back-to-top.js-back-to-top(href="javascript:void(0);") Вверх